##  File: OnCreatePullRequestCondition.java
##  Project: swiser
##  Created by Ivan Bukshev on 10.03.2021.
##  Copyright (c) 2021 Ivan Bukshev. All rights reserved.

<html>

<head>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResourcesForContext("main-resources")
</head>

<body>
<div>
    <script>SwiserPullRequestWebPanel.sync(AJS.$)</script>
</div>
<div>Hello</div>
<section>
    <h2>Last Step</h2>
    <ol id="swiser-pb-progress-bar-id" class="swiser-pb-progress-bar">
        <li><span>Objective &amp; Template</span></li>
        <li><span>Options</span></li>
        <li><span>Step</span></li>
        <li><span>In a Nutshell</span></li>
        <li><span>Step</span></li>
        <li><span>Step</span></li>
        <li><span>Launch Date</span></li>
        <li><span>Step</span></li>
        <li><span>Step</span></li>
        <li><span>Agreement</span></li>
    </ol>
</section>
</body>

</html>
